[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
python-dotenv = "0.21.0"
google-cloud-storage = "*"
coverage = "~=7.1"
pytest = "~=7.1"

[requires]
python_version = "3.9.15"

[scripts]
coverage = "coverage run -m pytest"
test =  "python -m pytest"
report = "coverage report --omit test/*,reminders/usernames.py,reminders/__init__.py"
