[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
python-dotenv = "~=1.0"
google-cloud-storage = "~=2.14"
coverage = "~=7.4"
pytest = "~=7.4"

[requires]
python_version = "3.9"

[scripts]
coverage = "coverage run -m pytest"
test =  "python -m pytest"
report = "coverage report --omit test/*,reminders/usernames.py,reminders/__init__.py"
